<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<FIELDSET dir="[lang_dir]">
    <LEGEND ACCESSKEY=I>[lang_admin_genral_cinfo]</LEGEND>
    <table width="100%" border="0">
  <tr>
    <td><div align="center"><img src="images/icons/services.png" width="64" height="64" /> <br />
[lang_admin_index_config]<br />
      <br />
    </div></td>
    <td><div align="center"><img src="images/icons/register.png" width="64" height="64" /> <br />
[lang_admin_index_register]<br />
      <br />
    </div></td>
    <td><div align="center"><img src="images/icons/orderlist.png" width="64" height="64" /> <br />
[lang_admin_index_orders]<br />
      <br />
    </div></td>
	</tr>
</table>
</FIELDSET>
<FIELDSET dir="[lang_dir]">
    <LEGEND ACCESSKEY=I>[lang_admin_service_cinfo]</LEGEND>
    <table width="100%" border="0">
  <tr>
    <td><div align="center"><img src="images/icons/services.png" width="64" height="64" /> <br />
[lang_admin_index_services]<br />
      <br />
    </div></td>
    <td><div align="center"><img src="images/icons/add.png" width="64" height="64" /><br />
      [lang_admin_index_addservice]      <br />
      <br />
    </div></td>
    <td><div align="center"><img src="images/icons/add.png" width="64" height="64" /><br />
[lang_admin_index_addproduct]<br />
      <br />
    </div></td>
  </tr>
</table>
</FIELDSET>
<FIELDSET dir="[lang_dir]">
    <LEGEND ACCESSKEY=I>[lang_admin_support_cinfo]</LEGEND>
    <table width="100%" border="0">
  <tr>
    <td><div align="center"><img src="images/icons/tickets.png" width="64" height="64" /> <br />
[lang_admin_index_tickets]</div></td>
    <td><div align="center"><img src="images/icons/faq.png" width="64" height="64" /> <br />
      [lang_admin_index_faq]</div></td>
    <td><div align="center"><img src="images/icons/add.png" width="64" height="64" /><br />
[lang_admin_index_addfaq]</div></td>
  </tr>
</table>
</FIELDSET>
<FIELDSET dir="[lang_dir]">
    <LEGEND ACCESSKEY=I>[lang_info_cinfo]</LEGEND>
<table width="100%" border="0">
<tr>
    <td><div align="center">      <img src="images/icons/news.png" width="64" height="64" /><br />
      [lang_admin_index_news]</div></td>
    <td><div align="center"><img src="images/icons/customers.png" width="64" height="64" />      <br />
      [lang_admin_index_customers]</div></td>
    <td><div align="center">      <img src="images/icons/parteners.png" width="64" height="64" /><br />
      [lang_admin_index_parteners]</div></td>

  </tr>
  <tr>
    <td><div align="center">      <img src="images/icons/add.png" width="64" height="64" /><br />
      [lang_admin_index_addnews]</div></td>
    <td><div align="center"><img src="images/icons/add.png" width="64" height="64" /><br />
      [lang_admin_index_addcustomers]</div></td>
    <td><div align="center"><img src="images/icons/add.png" width="64" height="64" /><br />
      [lang_admin_index_addparteners]</div></td>

  </tr>
</table>
</FIELDSET>
<FIELDSET dir="[lang_dir]">
    <LEGEND ACCESSKEY=I>[lang_admin_mailing_cinfo]</LEGEND>
    <table width="100%" border="0">
<tr>
    <td><div align="center"><img src="images/icons/email.png" width="64" height="64" /><br />
[lang_admin_index_addmail]<br />
      <br />
    </div></td>
	<td>
	  <div align="center"><img src="images/icons/mailing.png" width="64" height="64" /> <br />
    [lang_admin_index_mailing]	</div></td>
  </tr>
</table>
</FIELDSET>
</body>
</html>