<FORM METHOD=post ACTION=[temp_form_action] dir=[lang_dir]>
  <FIELDSET>
    <LEGEND ACCESSKEY=I>[lang_form_login_cinfo]</LEGEND>
    <TABLE >
      <TR>
        <TD height="24">
        <LABEL FOR=name ACCESSKEY=N>[lang_form_login_uname]:</LABEL>        </TD>
        <TD><label>
        <input type=text name=m_uname value=[temp_m_uname_value]>
        </label></TD>
      </TR>

	  <TR>
        <TD>
          <LABEL FOR=name ACCESSKEY=N>[lang_form_login_password]:</LABEL>        </TD>
        <TD><input type=password name=m_pass></TD>
      </TR>
	      </TABLE>

  </FIELDSET>

  <P>
    <INPUT TYPE=submit VALUE=[lang_login_submit]>
    <INPUT TYPE=reset VALUE=[lang_login_reset]>
  </P>

</FORM>
