<table width="100%" border="0" dir="ltr">
  <tr>
    <td height="14"><div align="center">[temp_product_title]</div></td>
  </tr>
  <tr>
    <td height="15"><div align="center">[lang_product_date]:[temp_product_date]<br> [lang_product_viewed]:[temp_product_view] <br>[lang_product_ordered]:[temp_product_ordered]  </div></td>
  </tr>
  <tr>
    <td><div align="center">
      <p><img width="400" hight="350" src="[temp_product_img]" alt="[temp_product_title]" /><br />
        [temp_product_text]<br />
        [lang_product_price] : [temp_product_price]<br />
        <a href="order.php?action=sorder&proid=[temp_product_id]">Order</a><br />
      </p>
      </div></td>
  </tr>
</table>
