</td>
								  </tr>
								</table>
							</td>
							<td width="119" style="height:315px" valign="top"></td>
						  </tr>
						</table>
					</td>
				</tr>				
				<tr>
					<td width="766" style="background-image: url(templates/businesssolu/images/b.jpg); background-repeat: no-repeat; background-position: bottom;height:113px" valign="top">
						<div align="left" class="copyright_text" style="margin-left:224px; margin-top:11px; margin-right:px">
						  [temp_site_footer]
						</div>
					</td>
				</tr>
			</table>
		</td>
	  </tr>
	</table>
</body>
</html>