<FORM ACTION=[temp_form_action] METHOD=post name="Form1" id="Form1" dir="[lang_dir]">
  <FIELDSET>
    <LEGEND ACCESSKEY=I>[lang_form_sendmail_cinfo]</LEGEND>
    <TABLE>
      <tr>
        <td><label for="name" accesskey="N">[lang_form_mail_name]:</label>
        </td>
        <td><input name="site_title" type="text" id="site_title" size="50" /></td>
      </tr>
      <tr>
        <td><label for="name" accesskey="N">[lang_form_mail_subject]:</label>        </td>
        <td><input name="site_title" type="text" id="site_title" size="50" /></td>
      </tr>
	  <tr>
        <td><label for="name" accesskey="N">[lang_form_mail_department]:</label>        </td>
	    <td><label>
	      <select name="select">
		  [list_departments]
        </select>
	    </label></td>
      </tr>
	<tr>
        <td><label for="name" accesskey="N">[lang_form_mail_mail]:</label>        </td>
        <td width="350"><textarea name="site_footer" cols="30" rows="10" id="site_footer">[temp_mail_mail]</textarea></td>
	</tr>
  </TABLE>

  </FIELDSET>

  <P>
    <INPUT TYPE=submit VALUE="[lang_save_submit]">
    <INPUT TYPE=reset VALUE="[lang_save_reset]">
  </P>

</FORM>